@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(183, 100%, 75%);
  --foreground: #171717;
  --primary: hsl(0, 100%, 71%);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}