@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(183, 100%, 75%);
  --foreground: #171717;
  --primary: hsl(0, 100%, 71%);
  --destructive: hsl(0, 100%, 27%);
  --positive: hsl(111, 100%, 33%);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}