@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #C9FDFF;
  --foreground: #003F42;
  --secondary: #809FA1;
  --primary: #FF6969;
  --destructive: hsl(0, 100%, 27%);
  --positive: hsl(111, 100%, 33%);
  --background-accent: #7DA6FF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}