services:
  database:
    image: postgres:15
    container_name: quiz-app_db
    ports:
      - "5003:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  postgres_data:
